* {
  background-color: black;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

h1 {
  color: #ffffff;
  justify-content: left;
  margin-left: 120px;
  margin-top: 140px;
  font-size: 10rem;
}

hr {
  color: rgb(160, 1, 150);
  size: 7px;
}

header {
  color: white;
  border-bottom: 7px solid rgb(160, 1, 150);
}

.logo {
  color: #ffffff;
}

.sections a {
  color: #ffffff;
}

video {
  margin-right: 600px;
}

.right-text-section {
  padding-left: 120px;
  width: 67%;
  margin-top: 1em;
}

.right-text-section a {
  color: rgb(255, 183, 0);
  margin-left: 1em;
}

.right-subhead {
  color: rgb(160, 1, 150);
  margin-bottom: 2em;
}

.left-text-section {
  width: 60%;
  margin-left: 120px;
}

.left-text-section a {
  color: rgb(255, 183, 0);
  margin-left: 1em;
}

.links {
  margin-top: 1em;
}

.left-subhead {
  margin-bottom: 1em;
  color: rgb(98, 0, 255);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.grid-item {
  margin-top: 115px;
  width: fit-content;
  height: fit-content;
  overflow: hidden;
}

#game-video {
  width: 80%;
  margin-left: 20px;
}

#jb-pictures {
  overflow: hidden;
  height: auto;
}

#jb-desktop {
  width: 90%;
  margin-left: 5em;
}

#petson-img {
  width: 90%;
}

footer {
  margin-top: 200px;
  background: linear-gradient(to bottom, rgba(0, 0, 255, 0), rgb(255, 183, 0));
}
