* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  gap: 10px;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 80px;
}

#top-section img {
  width: 20%;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  overflow: hidden;
}

.grid-item :hover {
  opacity: 90%;
  cursor: pointer;
}

.black-area {
  height: 900px;
  background-color: black;
  margin-top: -1050px;
}

#thrifty {
  height: 310px;
}

#boule-img {
  height: 310px;
}

.fullwidth-section {
  width: 100%;
  height: auto;
  margin-bottom: 80px;
}

.sections a.active {
  color: #ffffff;
}

#rityta {
  width: 100%;
  height: 90%;
}

#oset {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

.fullwidth-section :hover {
  opacity: 90%;
  cursor: pointer;
}

.logo {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.sections a {
  color: rgb(255, 255, 255);
}
.sections a.active {
  color: rgb(0, 0, 0);
}

.sections a:hover {
  animation: bounce 0.2s;
}

#bounceButton {
  margin-bottom: 100px;
}

#target {
  height: 100px;
}

h1 {
  margin-top: 200px;
  color: #4400ff;
  font-size: 3.8rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  justify-self: center;
  text-align: center;
}

.bouncy-button {
  background-color: blue;
}

.bouncy-button:hover {
  background-color: #006eff;
}

#icons {
  width: 465px;
  display: flex;
  justify-self: center;
  margin-bottom: 100px;
}

.bar {
  background-color: black;
}

h4 {
  color: blue;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 2px;
  margin: 20px;
  font-size: 4rem;
  justify-self: center;
}

h5 {
  justify-self: center;
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  width: 500px;
  justify-self: center;
  text-align: center;
  margin-bottom: 40px;
}


#boule-text {
  padding-top: 200px;
  height: 200px;
}

.light {
  background-color: white;
  overflow: hidden;
  max-width: 100%;
  box-sizing: border-box;
}

.button {
  margin-bottom: 20px;
  justify-self: center;
}

#brandperior h4 {
  color: #F47422;
}

#brandperior p {
  color: #ffffff;
}

@media (max-width: 1365px) {
}

@media (max-width: 1125px) {
}

@media (max-width: 915px) {
}

@media (max-width: 715px) {
}

@media (max-width: 595px) {
}
