* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 42, 28);
  overflow-x: hidden;
  margin: 0;
}

header {
  position: relative;
}

.logo {
  color: rgb(128, 255, 0);
}

.sections a {
  color: white;
}

.sections a.active {
  color: rgb(128, 255, 0);
}

#top-image {
  width: 100%;
  margin: 0;
  position: relative;
  top: -120px;
}

#jsumt {
  position: relative;
  top: -650px;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-left: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  position: relative;
  z-index: 3;
  width: 80%;
  justify-content: center;
  justify-self: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  width: 80%;
  justify-self: center;
  padding-bottom: 50px;
}

.grid-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-item img {
  width: auto;
  margin-bottom: 1.5em;
  width: 570px;
  height: auto;
  object-fit: cover;
}

.grid-item img:hover {
  opacity: 70%;
}

.text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-self: left;
  margin-top: -480px;
  margin-left: 10%;
  padding-left: 20px;
}

.text p {
  padding-left: 0;
  margin-left: 0;
}

p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 500px;
  margin-bottom: 20px;
  justify-self: left;
  margin-left: 10%;
  padding-left: 20px;
}

.instagram-media {
  height: 600px;
}

h3 {
  color: rgb(128, 255, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
  justify-self: left;
  margin-left: 10%;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  justify-self: left;
}

.slideshow h3 {
  color: rgb(255, 0, 174);
  font-size: 3rem;
}

button {
  background-color: rgb(255, 0, 174);
    box-shadow: 0 0 2em rgba(251, 0, 255, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: rgb(255, 0, 255);
  box-shadow: 0 0 2em rgba(251, 0, 255, 0.7);
}

.collage {
  width: 80%;
  display: flex;
  justify-self: center;
  padding: 20px;
}

#badminton {
  display: flex;
  width: 80%;
  justify-self: center;
}

#badminton-section {
  background-color: black;
}

#badminton-images {
  display: none;
}

#kurs {
  padding-bottom: 50px;
}

#kurs a {
  color: rgb(128, 255, 0);
}

#kurs p {
  width: 550px;
}

#responsive-collage {
  display: none;
}

footer {
  display: flex;
  opacity: 100%;
  background-color: black;
  justify-content: center;
}

footer p {
  text-align: center;
  margin-right: 10%;
}

@media (max-width: 1427px) {
  #jsumt {
    top: -600px;
  }

  .text {
    margin-top: -300px;
  }
}

@media (max-width: 1254px) {
  #jsumt {
    top: -500px;
  }

  .grid-container2 {
    grid-template-columns: auto;
  }


}

@media (max-width: 1040px) {
  #jsumt {
    top: -450px;
    left: 90px;
    margin-left: 2%;
  }

  .collage {
    display: none;
  }
  #responsive-collage {
    display: block;
  }

  #responsive-collage img {
    width: 100%;
  }

  #badminton {
    display: none;
  }

  #badminton-images {
    display: block;
    width: 100%;
    margin-top: 10%;
  }

  #badminton-images img {
    width: 100%;
  }

  #kurs p {
    width: 80%;
  }

  .slideshow-container {
    max-width: 90%;
    justify-self: center;
  }

  .slideshow {
    display: block;
  }

  .slideshow h3 {
    justify-self: center;
    margin: 0;
    font-size: 5em;
  }
}

@media (max-width: 899px) {
  #jsumt {
    top: -400px;
    margin-left: 5%;
    left: 50px;
  }

  .grid-container {
    grid-template-columns: auto;
  }

  h3 {
    margin-top: 20px;
  }
}

@media (max-width: 780px) {
  #jsumt {
    top: -340px;
    width: 45%;
  }

  .text {
    margin-top: -200px;
  }

  p {
    font-size: 12px;
    width: 80%;
  }
}

@media (max-width: 630px) {
  #jsumt {
    top: -320px;
  }

  #top-image {
    width: 125%;
    right: 10%;
  }

  h1 {
    font-size: 16px;
  }

  h3 {
    padding-top: 20px;
  }

  .grid-container {
    padding-bottom: 0;
    margin-bottom: -60px;
  }
  .slideshow h3 {
    justify-self: center;
    margin: 0;
    font-size: 3em;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

@media (max-width: 500px) {
  #jsumt {
    top: -280px;
    width: 40%;
  }

  .text {
    margin-top: -150px;
  }
}

@media (max-width: 430px) {
  #jsumt {
    top: -240px;
    width: 35%;
  }
}

@media (max-width: 330px) {
  #jsumt {
    top: -220px;
    width: 35%;
  }
}
