* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(24, 42, 28);
  overflow-x: hidden;
  margin: 0;
}

header {
  position: relative;
}

.logo {
  color: rgb(128, 255, 0);
}

.sections a {
  color: white;
}

.sections a.active {
  color: rgb(128, 255, 0);
}

#top-image {
  width: 100%;
  margin: 0;
  position: relative;
  top: -120px;
}

#jsumt {
  position: relative;
  top: -650px;
  width: 50%;
  display: flex;
  justify-content: center;
  left: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  position: relative;
  z-index: 3;
  width: 80%;
  justify-content: center;
  justify-self: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  width: 80%;
  justify-self: center;
  padding-bottom: 50px;
}

.grid-item {
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.grid-item img {
  width: auto;
  margin-bottom: 1.5em;
  width: 570px;
  height: auto;
  object-fit: cover;
}

.grid-item img:hover {
  opacity: 70%;
}

.text {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  justify-self: left;
  margin-top: -480px;
  margin-left: 10%;
  padding-left: 20px;
}

.text p {
  padding-left: 0;
  margin-left: 0;
}

p {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 500px;
  margin-bottom: 20px;
  justify-self: left;
  margin-left: 10%;
  padding-left: 20px;
  
}


.instagram-media {
  height: 600px;
}

h3 {
  color: rgb(128, 255, 0);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 50px;
  justify-self: left;
  margin-left: 10%;
  padding: 20px;
}

h1 {
    margin-bottom: 20px;
    justify-self: left;
}

.slideshow h3 {
  color: rgb(255, 0, 174);
  font-size: 3rem;
}

.collage {
    width: 80%;
    display: flex;
    justify-self: center;
    padding: 20px;
}

#badminton {
  display: flex;
  width: 80%;
  justify-self: center;
}

#badminton-section {
  background-color: black;
}

#kurs {
  padding-bottom: 50px;
}

#kurs a {
  color: rgb(128, 255, 0);
}

#kurs p {
  width: 550px;
}

footer {
  background-color: black;
}

@media (max-width: 1427px) {
  #jsumt {
    position: relative;
    top: -600px;
    width: 50%;
    display: flex;
    justify-content: center;
    left: 100px;
  }
}

@media (max-width: 955px) {
  #front-title {
    font-size: 55px;
  }

  #introduction {
    font-size: 1rem;
    max-width: 400px;
    top: 57%;
  }
}
@media (max-width: 655px) {
  #front-title {
    font-size: 33px;
  }

  #introduction {
    font-size: 0.8rem;
    max-width: 200px;
    top: 57%;
  }
}
