* {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
}

.hamburger .bar {
  background-color: black; /* Set desired color */
}

.sections a {
  color: rgb(0, 0, 0);
}

.sections a.active {
  color: rgba(255, 0, 191);
}

.logo {
  color: #000000;
}

#top-image {
  width: 100%;
  height: 100vh; /* Full viewport height */
  object-fit: cover; /* Ensures the image covers the background and is cropped */
  opacity: 47%;
}

#image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  z-index: 1;
  margin: 0;
  padding: 0;
}

#image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top, rgba(255, 9, 198, 0), rgb(255, 255, 255));
  z-index: 2;
}

#image-phone {
  display: none;
}

#heading {
  position: absolute;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
  margin-top: -1em; /* Reintroduce a negative margin to adjust visibility */
  z-index: 8;
  width: 100%; /* Adjust width to fit content */
  text-align: center; /* Center text inside the heading */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  color: rgb(0, 0, 0);
  font-size: 4rem;
  max-width: 80%;
}



#description-text {
  position: absolute;
  top: 60%; /* Position below the heading */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for element's own dimensions */
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  color: rgb(0, 0, 0);
  z-index: 10;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 20px;
  gap: 30px;
  width: 70%;
}
#description-text a {
  font-size: 1.4rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 0, 191, 0.7); /* Semi-transparent background */
  padding: 7px;
  border-radius: 5px;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Smooth scaling and background transition */
}

#description-text a:hover {
  transform: scale(1.15); /* Scale the element */
  background-color: rgba(255, 0, 191, 1); /* Slightly less transparent on hover */
}


@keyframes bouncing {
  0%,
  20%,
  50%,
  80% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

#drwnout-link {
  color: yellow;
  display: inline-block;
  font-size: 5em;
  text-decoration: none;
  animation: bouncing 1.5s infinite;
}

header {
  z-index: 6;
}

footer {
  background: linear-gradient(to bottom, rgba(0, 0, 255, 0), rgb(0, 0, 0));
  opacity: 70%;
}


@media (max-width: 970px) {
  #description-text {
    margin-top: 100px;
    flex-direction: column;
  }

  #heading {
    font-size: 2.5rem;
    margin-top: -1em;
  }
}

@media (max-width: 970px) {

  #heading {
    font-size: 2.5rem;
    margin-top: -1em;

  }
}
