* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: #FA6D62;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    gap: 10px;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  
  #top-section img {
    width: 20%;
  }
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    overflow: hidden;
  }
  
  .black-area {
    height: 900px;
    background-color: black;
    margin-top: -1050px;
  }

  #side-img {
    margin-top: 100px;
  }
  

  .fullwidth-section {
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }
  
  #rityta {
    width: 100%;
    height: 90%;
  }
  
  #oset {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .fullwidth-section :hover {
    opacity: 90%;
    cursor: pointer;
  }
  
  .logo {
    font-size: 20px;
    color: rgb(255, 255, 255);
  }
  
  .sections a {
    color: rgb(255, 255, 255);
  }
  .sections a.active {
    color: rgb(0, 0, 0);
  }
  
  .sections a:hover {
    animation: bounce 0.2s;
  }
  
  #bounceButton {
    margin-bottom: 100px;
  
    margin-top: 100px;
  }
  
  #target {
    height: 100px;
  }
  
  h1 {
    margin-top: 200px;
    color: black;
    font-size: 3.8rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    text-align: center;
  }
  
  .bouncy-button {
    background-color: rgb(0, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
    0 0 15px rgba(0, 0, 0, 0.6),
    0 0 30px rgba(0, 0, 0, 0.4);
  }
  
  .bouncy-button:hover {
    background-color: #1d1d1d;
  }
  
  #icons {
    width: 465px;
    display: flex;
    justify-self: center;
    margin-bottom: 100px;
  }
  
  .bar {
    background-color: black;
  }
  
  #target {
    justify-self: center;
    font-size: 22px;
    padding-top: 100px;
  }
  
  
  p {
    width: 500px;
    justify-self: center;
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .light p {
    color: #000000;
    margin-top: -40px;
    margin-bottom: 60px;
  }

  .button {
    background-color: #FA6D62;
  }
  
  #boule-text {
    padding-top: 200px;
    height: 300px;
  }
  
  #boule-text h5 {
    color: #000000;
    font-size: 30px;
  }
  
  #boule-text p 
  {
    margin-top: 20px;
  }
  
  
  .light {
    background-color: white;
    overflow: hidden;
    max-width: 100%;
    box-sizing: border-box;
  }
  
  footer {
    background: linear-gradient(to bottom, rgba(0, 0, 255, 0), #FA6D62);
    margin-top: 200px;
  }
  
  footer p {
    color: white;
  
  }
  
  @media (max-width: 1365px) {
  }
  
  @media (max-width: 1125px) {
  }
  
  @media (max-width: 915px) {
  }
  
  @media (max-width: 715px) {
  }
  
  @media (max-width: 595px) {
  }
  